# ---------------------------------------------------------------------------- #
## \file shutter.service
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
# ---------------------------------------------------------------------------- #
[Unit]
Description=Shutter Control
Wants=rtc.service
After=rtc.service

[Service]
Type=oneshot
RemainAfterExit=true
User=$USER
ExecStart=/home/$USER/install/debinst/armbian/shutter/shutter-at.sh

[Install]
WantedBy=multi-user.target
