# ---------------------------------------------------------------------------- #
## \file shutter.service
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
# ---------------------------------------------------------------------------- #
[Unit]
Description=Shutter Control
Wants=network.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/home/rock/install/debinst/armbian/shutter/shutterd start

[Install]
WantedBy=multi-user.target
