*~
.*.swp
build
build-*
*.pdf
*.a
*.ko
*.dtbo
*.bck
*-bak
*rescue*
*-cache*
*.ps
*.nc
*.ngc
*.hex
*.ged
*.toc
*/amd64/profiles/default.excludes
*/amd64/profiles/amd64.packages
*/amd64/profiles/amd64.postinst
*/amd64/simple-cdd.conf
*/i386/profiles/i386.packages
*/i386/profiles/i386.postinst
*/i386/simple-cdd.conf
__pycache__
*.egg-info
*.7z
README-*.svg
README-0.md
.vagrant
*.tgz
*.png
*.jpg
*.JPG
*-pr-*
*.ttf
*.pfb
