# ---------------------------------------------------------------------------- #
## \file playbook.yml
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
## \note brightness: ansible -m setup localhost | grep ansible_system_vendor
##       hotspot: cd ../../makefiles/roles/hotspot/tasks
##                echo "psk: minimum8" >hotspot-pr-psk.yml
##                cp tcpdump-ex-dns.py tcpdump-pr-dns.py
##                cp hotspot-ex-.sh hotspot-pr-.sh
##                cp dnsmasq-ex-.conf dnsmasq-pr-.conf
##                cd -
# ---------------------------------------------------------------------------- #
---
- name: import localhost playbook
  import_playbook: ../../makefiles/localhost.yml

- hosts: localhost
  gather_facts: no
  vars:
    user: "{{ lookup('env', 'USER') }}"
    home: /home/{{ user }}
  roles:
    - role: brightness
      vars:
        value: 0.55
      when: ansible_system_vendor == 'Dell Inc.'
    - role: brightness
      vars:
        value: 0.75
      when: ansible_system_vendor == 'ASUSTeK COMPUTER INC.'
    - role: kicad
      vars:
        version: 9.0
    # Optional
    - role: hotspot
      vars:
        ip: 10.66.0.2
        iface: wlp2s0
        gateway: 192.168.0.254
    #- role: packages-sbuild
    #  vars:
    #    repo: /data
    #- newsboat
    #- libvirt
    #- docker
    #- packages-dev-examples
    #- rabbitmq
