# ---------------------------------------------------------------------------- #
## \file playbook.yml
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
# ---------------------------------------------------------------------------- #
---
- name: import localhost playbook
  import_playbook: ../../makefiles/localhost.yml

- hosts: localhost
  gather_facts: no
  vars:
    user: "{{ lookup('env', 'USER') }}"
    home: /home/{{ user }}
  roles:
    # Optional
    - role: libvirt
    - role: tcpdump-dns
      vars:
        iface: wlp2s0
        ipdns: 10.66.0.2
    - role: brightness
      vars:
        value: 0.55
      when: ansible_system_vendor == 'Dell Inc.'
    - role: brightness
      vars:
        value: 0.75
      when: ansible_system_vendor == 'ASUSTeK COMPUTER INC.'
    - role: kicad
      vars:
        version: 9.0
    - role: packages-sbuild
      vars:
        repo: /data
    #- newsboat
    #- docker
    #- packages-dev-examples
    #- rabbitmq
