# ---------------------------------------------------------------------------- #
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
# ---------------------------------------------------------------------------- #
---
- name: install dev packages
  apt:
    cache_valid_time: 36000
    install_recommends: no
    name:
      - build-essential
      - chrony
      - chrpath
      - cmake
      - dh-make
      - dpkg-cross
      - expect
      - fakeroot
      - gawk
      - git
      - gdb
      - g++-aarch64-linux-gnu
      - g++-arm-linux-gnueabihf
      - pkg-config
      - python3-pip
      - systemd-coredump  # coredumpctl debug
      - valgrind
      - vim
  become: yes

- name: Remove EXTERNALLY-MANAGED file
  ansible.builtin.file:
    path: /usr/lib/python{{ ansible_python.version.major }}.{{ ansible_python.version.minor }}/EXTERNALLY-MANAGED
    state: absent
  become: yes

- name: install python packages
  pip:
    name:
      - gitlabci-local
