# ---------------------------------------------------------------------------- #
## \file playbook.yml
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
# ---------------------------------------------------------------------------- #
---
- hosts: pis
  gather_facts: no
  vars:
    user: "{{ lookup('env', 'user') }}"
    home: /home/{{ user }}
  roles:
    - sudoers-pi
    - profile-pi
    - packages-pi
    - timezone
    - vim
    - screen-remote
    - authorized-keys
    # Optional
    - role: mpd
      vars:
        directory: /mnt/mp3
    - projects-pi
    #- somfi-pi
