# ---------------------------------------------------------------------------- #
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
# ---------------------------------------------------------------------------- #
---
- name: install docker packages
  apt:
    cache_valid_time: 36000
    install_recommends: no
    name:
      - docker-buildx
      - docker-cli
      - docker.io
      - ssl-cert
  become: yes

- name: add user to the docker group
  user:
    append: yes
    name: "{{ user }}"
    groups: docker
  become: yes

- name: install docker-compose
  uri:
    url: https://github.com/docker/compose/releases/latest/download/docker-compose-Linux-x86_64
    dest: "{{ home }}/.local/bin/docker-compose"
    mode: 0755
    status_code: [200, 304]
