# ---------------------------------------------------------------------------- #
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
# ---------------------------------------------------------------------------- #
---
- name: install sbuild packages
  apt:
    cache_valid_time: 36000
    install_recommends: no
    name:
      - sbuild
      - mmdebstrap
      - uidmap
      - binfmt-support
      - qemu-user-static
      - arch-test
  become: yes

- name: add user to the sbuild group
  user:
    append: yes
    name: "{{ user }}"
    groups: sbuild
  become: yes
