Source: libupm
Section: libs
Priority: optional
Maintainer: sbeaugrand <sbeaugrand@toto.fr>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
Standards-Version: 4.6.2
Homepage: https://github.com/eclipse/upm.git
#Vcs-Browser: https://salsa.debian.org/debian/libupm
#Vcs-Git: https://salsa.debian.org/debian/libupm.git

Package: libupm-dev
Section: libdevel
Architecture: any
Depends:
 libupm-lcd2 (= ${binary:Version}),
 ${misc:Depends},
Description: Eclipse UPM Sensor and Actuator Repository
 UPM is a high level repository that provides software
 drivers for a wide variety of commonly used sensors and
 actuators. These software drivers interact with the
 underlying hardware platform through calls to MRAA APIs.

Package: libupm-lcd2
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Eclipse UPM Sensor and Actuator Repository
 UPM is a high level repository that provides software
 drivers for a wide variety of commonly used sensors and
 actuators. These software drivers interact with the
 underlying hardware platform through calls to MRAA APIs.

