# ---------------------------------------------------------------------------- #
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
# ---------------------------------------------------------------------------- #
---
- name: packages to build libmraa
  apt:
    cache_valid_time: 36000
    install_recommends: no
    name:
      - swig
      - python3-dev
  become: yes
