# ---------------------------------------------------------------------------- #
## \author Sebastien Beaugrand
## \sa http://beaugrand.chez.com/
## \copyright CeCILL 2.1 Free Software license
# ---------------------------------------------------------------------------- #
---
- name: /sbin/tcpdump-dns.sh
  copy:
    src: tcpdump-dns.sh
    dest: /sbin/
    mode: 0755
  become: yes

- name: /sbin/tcpdump-pr-dns.py
  copy:
    src: tcpdump-pr-dns.py
    dest: /sbin/
  ignore_errors: yes
  become: yes

- name: tcpdump-dns.service
  blockinfile:
    path: /etc/systemd/system/tcpdump-dns.service
    create: yes
    block: |
      [Unit]
      Description=tcpdump-dns service

      [Service]
      ExecStart=/sbin/tcpdump-dns.sh {{ iface }} {{ ipdns }}
  register: service
  become: yes

- name: daemon-reload
  systemd_service:
    daemon_reload: yes
  when: service.changed
  become: yes

- name: /etc/NetworkManager/dnsmasq-shared.d/dnsmask-pr-.conf
  copy:
    src: dnsmask-pr-.conf
    dest: /etc/NetworkManager/dnsmasq-shared.d/
  ignore_errors: yes
  register: dnsmask
  become: yes

- name: restart NetworkManager service
  systemd_service:
    name: NetworkManager.service
    state: restarted
  when: dnsmask.changed
  become: yes
