#!/usr/bin/make -f

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -Xmpclient -Xmpssaver -Xoledmesg --\
     -l$(XCDIR)/$(XC)-$(XCVER)/usr/lib\
     -l$(XCDIR)/$(XC)-$(XCVER)/usr/lib/$(XC)\
     -l$(XCDIR)/$(XC)-$(XCVER)/usr/local/lib\

override_dh_installsystemd:
	dh_installsystemd --no-enable --restart-after-upgrade --no-start
