#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake

override_dh_installsystemd:
	dh_installsystemd\
	 --restart-after-upgrade --no-start --name=mpserver --no-enable
	dh_installsystemd\
	 --restart-after-upgrade --no-start --name=mpclient --no-enable
	dh_installsystemd\
	 --restart-after-upgrade --no-start --name=mpssaver
