#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake

override_dh_installsystemd:
	dh_installsystemd\
	 --restart-after-upgrade --no-start --name=mpserver --no-enable
	dh_installsystemd\
	 --restart-after-upgrade --no-start --name=mpclient --no-enable
	dh_installsystemd\
	 --restart-after-upgrade --no-start --name=mpssaver

override_dh_installman:
	dh_installman
	test ! -f    ../lapbcpp.1 || cp -av    ../lapbcpp.1 ../../
	test ! -f build/lapbcpp.1 || cp -av build/lapbcpp.1 ./
