# ---------------------------------------------------------------------------- #
## \file mp3server.service
# ---------------------------------------------------------------------------- #
[Unit]
Description=MP3 server
After=network.target
Wants=network.target

[Service]
Type=oneshot
ExecStart=/etc/init.d/mp3serverd start
ExecStop=/etc/init.d/mp3serverd stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
WantedBy=shutdown.target
