# ---------------------------------------------------------------------------- #
## \file oscreensaver.service
# ---------------------------------------------------------------------------- #
[Unit]
Description=Oled Screen Saver
After=rtc.service
Wants=rtc.service

[Service]
Type=simple
ExecStart=/usr/bin/oscreensaver

[Install]
WantedBy=multi-user.target
